{% extends 'base.html' %}
{% load static %}
{% block css_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
{% endblock %}
{% block head_title %}{{user.username}}'s cart{% endblock %}

{% block content %}
<section class="cart">
  <div class="container">
    <div class="cart__inner">
      <div class="cart__title">
        Products in your cart
      </div>
      {% for product in products %}
      <div class="cart__item">
        <div class="cart__img">
          <img src="{{ product.image.url }}" alt="">
        </div>
        <div class="cart__info">
          <div class="cart__item__info">
            <div class="cart__item__title">
              {{ product.title }}
            </div>
            <div class="cart__item__author">
              {{ product.author }}
            </div>
            <div class="cart__item__adress">
              {{ product.adress }}
            </div>
          </div>
          <div class="cart__item__info">
            <div class="cart__item__time">
              Shelf time
            </div>
            <div class="cart__item__left">
              {{ product.time_left }}
            </div>
          </div>
          <div class="cart__item__info">
            <div class="cart__item__price">
              {% if product.price %}
                {{ product.price }} KZT
              {% else %}
                Free
              {% endif %}
            </div>
          </div>
        </div>
        <div class="cart__item__btns">
          <a class="cart__item__link">
            <div class="cart__item__btn">
              Delete from cart
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
      
</section>
{% endblock content %}
{% block js_links %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock js_links %}