@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.main__logo{
    width: 150px;
    height: auto;
}
.nav__drop{
    position: relative;
    color: #000;
}
.search__button{
    background-color: #E2E2E2;
}
.search__button:hover{
    background-color: #E2E2E2;
}
.menu__list{
    position: absolute;
    left: -105px;
    width: 150px;
    padding: 20px;
    background-color: #248B00;
    top: 70px;
    display: none;
}
.main__triangle{
    content: ''; 
    position: absolute;
    display: none;
    left: 5px; bottom: -20px;
    border: 20px solid transparent; border-bottom: 20px solid #248B00;
}
.menu__link{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: right;
}
.menu__link:hover{
    color: #fff;
}
.menu__main:hover .menu__list{
    display: block;
}
.menu__main:hover .main__triangle{
    display: block;
}
.menu__main{
    position: relative;
    list-style: none;
}
.menu__main img{
    width: 50px;
}
.header__search input{
    background-color: #E2E2E2;
    border: none;
    border-radius: 10px 0 0 10px;
    height: 40px;
    width: 400px;
    padding-left: 10px;
}
.header__search form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__search button{
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 0 10px 10px 0;
}
.header__search img{
    width: 20px;
    height: 20px;
}
.header__search{
    margin-right: 30px;
}