{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  {% block css_links %}
  {% endblock %}
  <title>{% block head_title %}EDA industry{% endblock %}</title>
</head>

<body>
  {% block header %}
    <header class="header">
        <div class="container">
          <div class="header__inner">
            <a href="{% url 'core:home' %}" class="header__logo">
              <img class="main__logo" src="{% static 'img/logo.svg' %}" alt="">
            </a>
            <div class="main__nav">
              <div class="header__nav">
                <a href="{% url 'core:home' %}"
                  class="nav__item {% if request.path == '/' %}active{% endif %}">Home</a>
              </div>
              <div class="header__search">
                <form action="{% url 'core:home' %}" method="get">
                  <input type="search" name="search" id="search" placeholder="Search for products...">
                  <button class = "search__button" type="submit"><img src="{% static 'img/search_icon.svg' %}" alt=""></button>
                </form>
              </div>
            </div>
            {% if request.user.is_authenticated %}
            <nav class="nav__drop" id="nav__drop">
              <div class="menu__main">
                <img src="{% static 'img/profile.svg' %}" alt="">
                <div class="main__triangle"></div>
                <ul class="menu__list">
                  <li>
                    <a href="{% url 'users:profile' request.user.username %}" class="menu__link">Profile</a>
                  </li>
                  {% if request.user.is_staff %}
                  <li>
                    <a href="{% url 'core:product_create' %}" class="menu__link">Add product</a>
                  </li>
                  {% else %}

                  <li>
                    <a href="{% url 'core:cart' %}" class="menu__link">Cart</a>
                  </li>
                  {% endif %}
                  <li>
                    <a href="{% url 'users:logout' %}" class="menu__link">Log out</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          {% else %}
          <nav class="navbar-nav ml-auto">
            <a href="{% url 'users:login' %}"
              class="nav__item nav-item nav-link {% if request.path == '/users/login/' %}active{% endif %}">Log in</a>
            <a href="{% url 'users:signup' %}"
              class="nav__item nav-item nav-link {% if request.path == '/users/signup/' %}active{% endif %}">Sign up</a>
          </nav>
          {% endif %}
        </div>
      </header>
    {% endblock header %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor %}
    {% block content %}
    {% endblock content %}
  <footer class="footer">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__left">
          <div class="footer__links">
            
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
  {% block js_links %}
  {% endblock %}
</body>
</html>